.31_2 { 
	overflow:hidden;
}.e31_2 { 
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 236.2574753165245, 255, 1) 0%,rgba(50.36247476935387, 20.98437398672104, 167.87500709295273, 0.5600000023841858) 100%) ;
	width:390px;
	height:844px;
	position:absolute;
}.e105_3 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:47px;
	position:absolute;
	left:138px;
	top:108px;
	font-family:Rubik;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e105_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:517.5372924804688px;
	height:724.957763671875px;
	position:absolute;
	left:-50.537227630615234px;
	top:499.0423889160156px;
}.e105_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:320px;
	height:63px;
	position:absolute;
	left:35px;
	top:184px;
	border-top-left-radius:69px;
	border-top-right-radius:69px;
	border-bottom-left-radius:69px;
	border-bottom-right-radius:69px;
}.e105_10 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:24px;
	position:absolute;
	left:85px;
	top:203px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e105_34 { 
	width:32px;
	height:32px;
	position:absolute;
	left:310px;
	top:199px;
}.e105_21 { 
	border-radius:500px;
	background-color:rgba(0, 195.49999594688416, 31.280016526579857, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}.e105_33 { 
	width:26.17867088317871px;
	height:19.33333396911621px;
	position:absolute;
	left:2.8333332538604736px;
	top:6.333333492279053px;
}.e105_27 { 
	transform: rotate(-44.72455302132862deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:22.33384895324707px;
	height:4.151272773742676px;
	position:absolute;
	left:7.389256477355957px;
	top:15.716279029846191px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e105_28 { 
	transform: rotate(34.85486937768002deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:13.921881675720215px;
	height:4.151272773742676px;
	position:absolute;
	left:2.372459650039673px;
	top:7.97044563293457px;
	border-radius:100px;
}.e105_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:319px;
	height:58px;
	position:absolute;
	left:35px;
	top:289px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e105_56 { 
	width:36px;
	height:36px;
	position:absolute;
	left:51px;
	top:302px;
	background-image:url(images/pngegg__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e105_57 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:28px;
	position:absolute;
	left:87px;
	top:308px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e105_58 { 
	width:26px;
	height:26px;
	position:absolute;
	left:56px;
	top:202px;
	background-image:url(images/pngegg__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e105_60 { 
	background-color:rgba(40.46002373099327, 0, 126.43750101327896, 1);
	width:295px;
	height:59px;
	position:absolute;
	left:47px;
	top:374px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e105_61 { 
	color:rgba(189.12500202655792, 243.14250826835632, 255, 1);
	width:187px;
	height:44px;
	position:absolute;
	left:100px;
	top:378px;
	font-family:Rubik One;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e105_62 { 
	color:rgba(255, 255, 255, 1);
	width:158px;
	height:18px;
	position:absolute;
	left:116px;
	top:446px;
	font-family:Rubik;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e105_132 { 
	color:rgba(0, 0, 0, 1);
	width:285px;
	height:49px;
	position:absolute;
	left:65px;
	top:615px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e105_133 { 
	background-color:rgba(189.12500202655792, 243.14250826835632, 255, 1);
	width:268px;
	height:67px;
	position:absolute;
	left:68px;
	top:711px;
	border-top-left-radius:93px;
	border-top-right-radius:93px;
	border-bottom-left-radius:93px;
	border-bottom-right-radius:93px;
}.e105_135 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:126px;
	top:730px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}