.105_63 { 
	overflow:hidden;
}.e105_63 { 
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 236.2574753165245, 255, 1) 0%,rgba(50.36247476935387, 20.98437398672104, 167.87500709295273, 0.5600000023841858) 100%) ;
	width:390px;
	height:844px;
	position:absolute;
}.e105_85 { 
	width:50px;
	height:31px;
	position:absolute;
	left:30px;
	top:51px;
}.e105_80 { 
	background-color:rgba(0, 71.39999270439148, 255, 1);
	width:50px;
	height:7px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:163px;
	border-top-right-radius:163px;
	border-bottom-left-radius:163px;
	border-bottom-right-radius:163px;
}.e105_81 { 
	background-color:rgba(0, 71.39999270439148, 255, 1);
	width:50px;
	height:7px;
	position:absolute;
	left:0px;
	top:12px;
	border-top-left-radius:163px;
	border-top-right-radius:163px;
	border-bottom-left-radius:163px;
	border-bottom-right-radius:163px;
}.e105_83 { 
	background-color:rgba(0, 71.39999270439148, 255, 1);
	width:25px;
	height:7px;
	position:absolute;
	left:0px;
	top:24px;
	border-top-left-radius:163px;
	border-top-right-radius:163px;
	border-bottom-left-radius:163px;
	border-bottom-right-radius:163px;
}.e105_84 { 
	color:rgba(0, 71.39999270439148, 255, 1);
	width:175px;
	height:21px;
	position:absolute;
	left:113px;
	top:46px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e105_89 { 
	width:7px;
	height:31px;
	position:absolute;
	left:357px;
	top:43px;
}.e105_86 { 
	border-radius:500px;
	background-color:rgba(0, 71.39999270439148, 255, 1);
	width:7px;
	height:7px;
	position:absolute;
	left:0px;
	top:0px;
}.e105_87 { 
	border-radius:500px;
	background-color:rgba(0, 71.39999270439148, 255, 1);
	width:7px;
	height:7px;
	position:absolute;
	left:0px;
	top:24px;
}.e105_88 { 
	border-radius:500px;
	background-color:rgba(0, 71.39999270439148, 255, 1);
	width:7px;
	height:7px;
	position:absolute;
	left:0px;
	top:12px;
}.e105_90 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:18px;
	position:absolute;
	left:28px;
	top:132px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_91 { 
	background-color:rgba(247.6050040125847, 162.56249696016312, 255, 1);
	width:130px;
	height:99px;
	position:absolute;
	left:39px;
	top:221px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e105_92 { 
	background-color:rgba(141.31250202655792, 173.14500510692596, 255, 1);
	width:130px;
	height:99px;
	position:absolute;
	left:216px;
	top:221px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e105_93 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:85px;
	height:117px;
	position:absolute;
	left:61px;
	top:193px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e105_95 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:85px;
	height:117px;
	position:absolute;
	left:238px;
	top:193px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e105_96 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:23px;
	position:absolute;
	left:248px;
	top:240px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_94 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:23px;
	position:absolute;
	left:73px;
	top:240px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_97 { 
	color:rgba(0, 71.39999270439148, 255, 1);
	width:123px;
	height:23px;
	position:absolute;
	left:248px;
	top:132px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_98 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:23px;
	position:absolute;
	left:73px;
	top:320px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_99 { 
	color:rgba(255, 255, 255, 1);
	width:65px;
	height:23px;
	position:absolute;
	left:248px;
	top:320px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_116 { 
	background-color:rgba(255, 127.5, 127.5, 1);
	width:130px;
	height:99px;
	position:absolute;
	left:39px;
	top:498px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e105_117 { 
	background-color:rgba(252.30118721723557, 255, 120.06250709295273, 1);
	width:130px;
	height:99px;
	position:absolute;
	left:216px;
	top:498px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e105_118 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:85px;
	height:117px;
	position:absolute;
	left:61px;
	top:470px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e105_119 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:85px;
	height:117px;
	position:absolute;
	left:238px;
	top:470px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e105_120 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:23px;
	position:absolute;
	left:248px;
	top:517px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_121 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:23px;
	position:absolute;
	left:73px;
	top:517px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_122 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:23px;
	position:absolute;
	left:73px;
	top:597px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_123 { 
	color:rgba(255, 255, 255, 1);
	width:65px;
	height:23px;
	position:absolute;
	left:248px;
	top:597px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_124 { 
	background-color:rgba(255, 180.43375879526138, 126.43750101327896, 1);
	width:130px;
	height:99px;
	position:absolute;
	left:39px;
	top:686px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e105_125 { 
	background-color:rgba(143.58625441789627, 255, 141.31250202655792, 1);
	width:130px;
	height:99px;
	position:absolute;
	left:216px;
	top:686px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e105_126 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:85px;
	height:117px;
	position:absolute;
	left:61px;
	top:658px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e105_127 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:85px;
	height:117px;
	position:absolute;
	left:238px;
	top:658px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e105_128 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:23px;
	position:absolute;
	left:247px;
	top:705px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_129 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:23px;
	position:absolute;
	left:72px;
	top:705px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_130 { 
	color:rgba(255, 255, 255, 1);
	width:65px;
	height:23px;
	position:absolute;
	left:72px;
	top:785px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_131 { 
	color:rgba(255, 255, 255, 1);
	width:66px;
	height:23px;
	position:absolute;
	left:247px;
	top:785px;
	font-family:Rubik;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e105_100 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:20px;
	position:absolute;
	left:28px;
	top:383px;
	font-family:Rubik;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}.e105_101 { 
	background-color:rgba(61.62500202655792, 115.7699990272522, 255, 1);
	width:70px;
	height:7px;
	position:absolute;
	left:24px;
	top:406px;
	border-top-left-radius:113px;
	border-top-right-radius:113px;
	border-bottom-left-radius:113px;
	border-bottom-right-radius:113px;
}.e105_102 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:20px;
	position:absolute;
	left:115px;
	top:383px;
	font-family:Rubik;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}.e105_103 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:287px;
	top:383px;
	font-family:Rubik;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}