.105_136 { 
	overflow:hidden;
}.e105_136 { 
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 236.2574753165245, 255, 1) 0%,rgba(50.36247476935387, 20.98437398672104, 167.87500709295273, 0.5600000023841858) 100%) ;
	width:390px;
	height:844px;
	position:absolute;
}.e105_177 { 
	color:rgba(255, 255, 255, 1);
	width:172px;
	height:47px;
	position:absolute;
	left:94.5372314453125px;
	top:109px;
	font-family:Rubik;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e105_179 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:320px;
	height:56px;
	position:absolute;
	left:22px;
	top:214px;
	border-top-left-radius:69px;
	border-top-right-radius:69px;
	border-bottom-left-radius:69px;
	border-bottom-right-radius:69px;
}.e105_180 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:24px;
	position:absolute;
	left:37px;
	top:230px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e105_186 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:271px;
	height:49px;
	position:absolute;
	left:22px;
	top:304px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e105_187 { 
	width:36px;
	height:36px;
	position:absolute;
	left:36px;
	top:309px;
	background-image:url(images/pngegg__1__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e105_188 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:28px;
	position:absolute;
	left:74px;
	top:317px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e105_196 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:271px;
	height:49px;
	position:absolute;
	left:22px;
	top:377px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e105_197 { 
	width:36px;
	height:36px;
	position:absolute;
	left:36px;
	top:379px;
	background-image:url(images/pngegg__1__3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e105_198 { 
	color:rgba(0, 0, 0, 1);
	width:199px;
	height:28px;
	position:absolute;
	left:72px;
	top:387px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e105_194 { 
	background-color:rgba(189.12500202655792, 243.14250826835632, 255, 1);
	width:268px;
	height:67px;
	position:absolute;
	left:61px;
	top:467px;
	border-top-left-radius:93px;
	border-top-right-radius:93px;
	border-bottom-left-radius:93px;
	border-bottom-right-radius:93px;
}.e105_195 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:119px;
	top:486px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e105_199 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:28px;
	position:absolute;
	left:116px;
	top:605px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e105_204 { 
	background-color:rgba(255, 255, 255, 1);
	width:116px;
	height:35px;
	position:absolute;
	left:142px;
	top:646px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
}.e105_205 { 
	background-color:rgba(255, 255, 255, 1);
	width:194px;
	height:33px;
	position:absolute;
	left:108px;
	top:692px;
	border-top-left-radius:79px;
	border-top-right-radius:79px;
	border-bottom-left-radius:79px;
	border-bottom-right-radius:79px;
}.e105_200 { 
	color:rgba(255, 63.75, 63.75, 1);
	width:172px;
	height:28px;
	position:absolute;
	left:115px;
	top:649px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e105_203 { 
	color:rgba(82.87499696016312, 89.75999191403389, 255, 1);
	width:169px;
	height:28px;
	position:absolute;
	left:120px;
	top:694px;
	font-family:Rubik;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}